*{
    scroll-behavior: smooth;
}
html{
    background-color: #ECE5C7
}


@font-face {
    font-family: Nurom;
    src: url(Nurom-Bold.ttf);
  }

.top{
    display: flex; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
  }
.topg{
    width: 170px;
    height: 35px;
  }

  .Home{
    align-items: center;
    font-family: 'nurom';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 35px;
  }
  .Home:hover{
    text-decoration: underline;
  }  

.andere{
    margin-left: 5%;
    margin-right: 5%;
    width: 70%;
    height: auto;
}
.Erfassen{
    margin-left: 5%;
    margin-right: 5%;
    width: 30%;
    height: 80%;
}
.Textüberschrifft{
    display: flex;
    height: 40px;
}
.ausgabesql{
    border-radius: 15px;
    background-color: #628884;
    height: auto;
    font-family: Nurom;
    font-size: 30px;
}
.textitem{
    padding-top: 20px;
    font-family: nurom;
    font-size: 25px;
    padding-bottom: 10px;
}
.textitem1{
    padding-top: 20px;
    font-family: nurom;
    font-size: 25px;
    padding-bottom: 10px;  
}
.textitem1{
    padding-top: 20px;
    font-family: nurom;
    font-size: 25px;
    padding-bottom: 10px;
}
.textitem1{
    padding-top: 20px;
    font-family: nurom;
    font-size: 25px;
    padding-bottom: 10px;
}
.textitem1{
    padding-top: 20px;
    font-family: nurom;
    font-size: 25px;
    padding-bottom: 10px;
}

.Ausleihe-übercontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 6.5%;
    
}

.Ausleihe-Text{
    
    font-family: 'nurom';
    font-size: 35px;
}


.Ausleihe-Box2{
    display: block;
    justify-content: center;
    background-color: #628884;
    width: 100%;
    height: 650px;
    border-radius: 20px;
    font-family: 'nurom';
    font-size: 35px;
}
.rechts{
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 3%;
  }


  .inputfield{
    text-align: center;
    padding-top: 4px;
  }
  .mehrerauswahlen{
    display: flex;
    justify-content: center;
    height: 50px;

}

input{
    background-color: #8AA897;
    border-radius: 8px;
    height: 50px;
    width: 300px;
}
.container{
    display: flex;
    
    height: auto;
}
.space{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 30px;
    align-items: center;
}
.pid{
    width: 8%;
}
.pname{
    width: 30%;
}
.pstatus{
    width: 5%;
}
.pfilm{
    width: 57%;
}
a{
    text-decoration: none;
    color:black;
}