html{
    background-color: #ECE5C7
}
@font-face {
    font-family: Nurom;
    src: url(Nurom-Bold.ttf);
  }
.container{
    
    background-color: #628884;
    border-radius: 15px;
    width: 1200px;
    height: 800px;
    margin-top: 2%;
    
}
.top{
    display: flex; 
    margin-left: 5%; 
    margin-right: 5%;
    margin-top: 1%;
    margin-bottom: 2%;
}
.topg{
    width: 170px;
    height: 35px;
  }
.überklasse{
    display: flex;
    justify-content: center;
    
}
.button1{
    width: 250px;
    height: 30px;
    margin-left: 40%;
    font-size: 25px;
    font-family: nurom;
    margin-top: 5%;
    border-radius: 8px;
    color: black;
    background-color: #ECE5C7;
    border: 0px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
    display: flex;
    justify-content: space-around;

}

.items{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 10%;
    font-size: 25px;
    font-family: nurom;
    margin-right: 40px;
}
.items2{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 25px;
    font-family: nurom;
    margin-right: 40px;

}
a{
    text-decoration: none;
    color:black;
}
.Home{
    align-items: center;
    font-family: 'nurom';
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 35px;
  }
  .Home:hover{
    text-decoration: underline;
  } 
  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: url(fff-0-2.png) repeat;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  }
  select::-ms-expand {
    display: none;
  }

input{
    background-color: #8AA897;
    border-radius: 8px;
    height: 50px;
    width: 300px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 100%;
    height: 40px;
    -moz-padding-start: calc(10px - 3px);
    padding-left: 10px;
    background: url(fff-0-2.png) repeat;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.3);
  border-radius: 3px;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}
.inputfield{
    text-align: center;
    padding-top: 4px;
  }
.rechts2{
    width: 200px;
    height: 50px;
}
.rechts{
    width: 200px;
    height: 50px;
}

